@model List<TestWebApp.Data.User>




<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

                .tab button:hover {
                    background-color: #ddd;
                }

                .tab button.active {
                    background-color: #ccc;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>
<body>




    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'viewAll')">View All</button>
        <button class="tablinks" onclick="openTab(event, 'addUser')">Add User</button>
        <button class="tablinks" onclick="openTab(event, 'fibSequence')">Fibonacci</button>

    </div>

    <div id="viewAll" class="tabcontent">@(Html.Action ("ViewAll"))</div>

    <div id="addUser" class="tabcontent">
        <h3>Add a New User</h3>@(Html.Action("AddUser"))
    </div>

    <div id="fibSequence" class="tabcontent">
        <h3>Fibonacci Sequence</h3>@(Html.Action("Fibonacci"))


    </div>


    <script>
        function openTab(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "block";
            evt.currentTarget.className += " active";
        }


    </script>
    <script>

        function jQueryAjaxPost(form) {

            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                success: function (response) {
                    $("#viewAll").html(response);
                }
        );
        }

        return false;
};
    </script>

    <script src="~/Scripts/Scripts.js"></script>

</body>
</html>


